@model MvcCore.Models.Client

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Client</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    <br />
    <h4>Bank accounts</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Contract number</th>
                <th>Balance</th>
            </tr>
        </thead>
        <tbody>
            @{
                if (Model.Contracts != null)
                {
                    foreach (var contract in Model.Contracts)
                    {
                        <tr>
                            <td>@contract.ContractNumber</td>
                            <td>@contract.Balance</td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
</div>
<br />
<div style="display:flex">

    <form method="post" asp-action="Edit" style="flex:1">
        <input type="hidden" name="client" value="@Model"/>
        <button type="submit">Edit client</button>
    </form>

    <br />

    <form method="post" asp-action="CreateContract" style="flex:1">
        <input type="hidden" name="clientId" value="@Model.Id" />
        <button type="submit">New contract</button>
    </form>

    <br />

    <form method="post" asp-action="CreateTransactions" style="flex:1">

        <div class="form-group">
            <label>Select Contract</label>
            <select asp-for="SelectedContractId" class="form-control" id="contractId" name="contractId">
                @foreach (var contract in Model.Contracts)
                {
                    <option value="@contract.Id">@contract.ContractNumber</option>
                }
            </select>
        </div>

        <input type="hidden" id="selectedContractId" name="selectedContractId" />

        <script>
            document.getElementById('contractId').addEventListener('change', function() {
                var selectedContractId = this.value;
                document.getElementById('SelectedContractId').value = selectedContractId;
            });
        </script>

        <button type="submit">New payment</button>
    </form>

</div>
